apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- manager.yaml

generatorOptions:
  disableNameSuffixHash: true

images:
- name: controller
  newName: docker.io/aerospike/aerospike-kubernetes-operator-nightly
  newTag: 4.1.0
