apiVersion: aerospike.com/v1alpha1
kind: AerospikeCluster
metadata:
  name: aerocluster
  namespace: aerospike

spec:
  size: 2
  build: aerospike/aerospike-server-enterprise:5.0.0.4
  multiPodPerHost: true

  storage:
    volumes:
      - path: /opt/aerospike
        storageClass: ssd
        volumeMode: filesystem
        initMethod: deleteFiles
        sizeInGB: 3

  aerospikeAccessControl:
    users:
      - name: admin
        secretName: auth-secret
        roles:
          - sys-admin
          - user-admin

  aerospikeConfigSecret:
    secretName: aerospike-secret
    mountPath:  /etc/aerospike/secret

  aerospikeConfig:
    logging:
      - name: /var/log/aerospike/aerospike.log
        any: info
        clustering: debug

    service:
      feature-key-file: /etc/aerospike/secret/features.conf

    security:
      enable-security: true

    namespace:
      - name: test
        memory-size: 3000000000
        replication-factor: 2
        storage-engine: memory

  resources:
    requests:
      memory: 2Gi
      cpu: 200m
