## Default values for aerospike-backup-service.
## This is a YAML-formatted file.
## Declare variables to be passed into your templates.

## Aerospike Backup Service common name
## Defaults to release name truncated to 63 characters (with hyphens removed)
# commonName: aerobackupservice

nameOverride: ""

## Image is the image for the backup service.
image:
  repository: aerospike/aerospike-backup-service
  tag: "3.4.0"

## Custom labels that will be applied on the AerospikeBackupService resource
customLabels: {}

## Config is the free form configuration for the backup service in YAML format.
## This config is used to start the backup service. The config is passed as a file to the backup service.
backupServiceConfig: {}
#  service:
#    http:
#      port: 8080
#  backup-policies:
#    test-policy:
#      parallel: 3
#  storage:
#    local:
#      local-storage:
#        path: /tmp/localStorage
#    s3Storage:
#      s3-storage:
#        bucket: aerospike-kubernetes-operator-test
#        s3-region: us-east-1
#        s3-profile: default

## SecretMounts is the list of secret to be mounted in the backup service.
secrets: []
#  - secretName: aws-secret
#    volumeMount:
#      name: aws-secret
#      mountPath: /root/.aws/credentials
#      subPath: credentials

# Deprecated: Resources field is now part of spec.podSpec.serviceContainer
## Resources define the requests and limits for the backup service container.
## Resources.Limits should be more than Resources.Requests.
resources: {}
#  limits:
#    cpu: 100m
#    memory: 128Mi
#  requests:
#    cpu: 100m
#    memory: 128Mi

## Service defines the Kubernetes service configuration for the backup service.
## It is used to expose the backup service deployment. By default, the service type is ClusterIP.
service: {}
#  type: ClusterIP

## Specify additional configuration for the AerospikeBackupService pods
podSpec: {}
#  serviceAccountName: aerospike-backup-service
#  metadata: 
#    labels:
#      label-test-1: test1
#    annotations:
#      description: "backupservice pod"
#  serviceContainer:
#    resources:
#      limits:
#        cpu: 100m
#        memory: 128Mi