apiVersion: asdb.aerospike.com/v1beta1
kind: AerospikeBackupService
metadata:
  name: aerospikebackupservice-sample
  namespace: aerospike
spec:
  image: aerospike/aerospike-backup-service:2.0.0
  config:
    service:
      http:
        port: 8081
    backup-policies:
      test-policy:
        parallel: 3
        remove-files: KeepAll
      test-policy1:
        parallel: 3
        remove-files: KeepAll
    storage:
      local:
        local-storage:
          path: /localStorage
      s3Storage:
        s3-storage:
          bucket: "aerospike-kubernetes-operator-test"
          s3-region: us-east-1
          s3-profile: default

  secrets:
    - secretName: aws-secret
      volumeMount:
        name: aws-secret
        mountPath: /root/.aws/credentials
        subPath: credentials

  service:
    type: LoadBalancer

