apiVersion: asdb.aerospike.com/v1alpha1
kind: AerospikeCluster
metadata:
  name: aerocluster
  namespace: aerospike
spec:
  size: 2
  image: aerospike/aerospike-server-enterprise:5.5.0.3

  storage:
    filesystemVolumePolicy:
      cascadeDelete: true
      initMethod: deleteFiles
    volumes:
      - name: workdir
        aerospike:
          path: /opt/aerospike
        source:
          persistentVolume:    
            storageClass: ssd
            volumeMode: Filesystem
            size: 1Gi
      - name: nstest
        aerospike:
          path: /opt/aerospike/data/test
        source:
          persistentVolume:           
            storageClass: ssd
            volumeMode: Filesystem
            size: 3Gi
      - name: nsbar
        aerospike:
          path: /opt/aerospike/data/bar
        source:
          persistentVolume:           
            storageClass: ssd
            volumeMode: Filesystem
            size: 3Gi

  multiPodPerHost: true

  aerospikeAccessControl:
    users:
      - name: admin
        secretName: auth-secret
        roles:
          - sys-admin
          - user-admin

  aerospikeConfigSecret:
    secretName: aerospike-secret
    mountPath:  /etc/aerospike/secret

  aerospikeConfig:
    service:
      feature-key-file: /etc/aerospike/secret/features.conf
    security:
      enable-security: true
    namespaces:
      - name: test
        memory-size: 2000000000
        single-bin: true
        data-in-index: true
        replication-factor: 1
        storage-engine:
          type: device
          files:
            - /opt/aerospike/data/test/test.dat
          filesize: 2000000000
          data-in-memory: true
      - name: bar
        memory-size: 3000000000
        single-bin: true
        data-in-index: true
        replication-factor: 1
        storage-engine:
          type: device
          files:
            - /opt/aerospike/data/bar/bar.dat
          filesize: 2000000000
          data-in-memory: true

  resources:
    requests:
      memory: 2Gi
      cpu: 200m
