apiVersion: asdb.aerospike.com/v1beta1
kind: AerospikeCluster
metadata:
  name: aerocluster
  namespace: aerospike
spec:
  size: 2
  image: aerospike/aerospike-server-enterprise:5.6.0.7

  storage:
    filesystemVolumePolicy:
      cascadeDelete: true
      initMethod: deleteFiles
    volumes:
      - path: /opt/aerospike
        storageClass: ssd
        volumeMode: filesystem
        sizeInGB: 1
      - path: /opt/aerospike/data/test
        storageClass: ssd
        volumeMode: filesystem
        sizeInGB: 3
      - path: /opt/aerospike/data/bar
        storageClass: ssd
        volumeMode: filesystem
        sizeInGB: 3

  multiPodPerHost: true

  aerospikeAccessControl:
    users:
      - name: admin
        secretName: auth-secret
        roles:
          - sys-admin
          - user-admin

  aerospikeConfigSecret:
    secretName: aerospike-secret
    mountPath:  /etc/aerospike/secret

  aerospikeConfig:
    service:
      feature-key-file: /etc/aerospike/secret/features.conf
    security:
      enable-security: true
    namespaces:
      - name: test
        memory-size: 2000000000
        single-bin: true
        data-in-index: true
        replication-factor: 1
        storage-engine:
          type: device
          files:
            - /opt/aerospike/data/test/test.dat
          filesize: 2000000000
          data-in-memory: true
      - name: bar
        memory-size: 3000000000
        single-bin: true
        data-in-index: true
        replication-factor: 1
        storage-engine:
          type: device
          files:
            - /opt/aerospike/data/bar/bar.dat
          filesize: 2000000000
          data-in-memory: true

  resources:
    requests:
      memory: 2Gi
      cpu: 200m
