apiVersion: asdb.aerospike.com/v1
kind: AerospikeCluster
metadata:
  name: aerocluster
  namespace: aerospike

spec:
  size: 2
  image: aerospike/aerospike-server-enterprise:8.0.0.2
  rackConfig:
    enableDynamicRackID: true
    rackIDVolumeName: hostpath
    namespaces:
      - test
    racks:
      - id: 1

  storage:
    filesystemVolumePolicy:
      cascadeDelete: true
      initMethod: deleteFiles
    blockVolumePolicy:
      cascadeDelete: true
    volumes:
      - name: workdir
        aerospike:
          path: /opt/aerospike
        source:
          persistentVolume:
            storageClass: ssd
            volumeMode: Filesystem
            size: 1Gi
      - name: ns
        aerospike:
          path: /test/dev/xvdf
        source:
          persistentVolume:
            storageClass: ssd
            volumeMode: Block
            size: 5Gi
      - name: aerospike-config-secret
        source:
          secret:
            secretName: aerospike-secret
        aerospike:
          path: /etc/aerospike/secret
      - name: hostpath
        aerospike:
          path: /opt/hostpath
        source:
          hostPath:
            path: /tmp/rackid
            type: File

  podSpec:
    multiPodPerHost: true
    aerospikeInitContainer:
      imageRegistryNamespace: tanmayj10
      imageNameAndTag: aerospike-kubernetes-init:2.3.0-dev2

  aerospikeAccessControl:
    users:
      - name: admin
        secretName: auth-secret
        roles:
          - sys-admin
          - user-admin

  aerospikeConfig:
    service:
      feature-key-file: /etc/aerospike/secret/features.conf
    security: {}

    network:
      service:
        port: 3000
      heartbeat:
        port: 3002
      fabric:
        port: 3001

    namespaces:
      - name: test
        replication-factor: 2
        storage-engine:
          type: device
          devices:
            - /test/dev/xvdf
      - name: testMem
        replication-factor: 1
        storage-engine:
          type: memory
          data-size: 1073741824
