# Operator
{{ include "validateDeprecateFields" . }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "aerospike-kubernetes-operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels: &Labels
    app: {{ template "aerospike-kubernetes-operator.fullname" . }}
    chart: {{ .Chart.Name }}
    release: {{ .Release.Name }}
    {{- with .Values.labels }}{{ toYaml . | nindent 4 }}{{ end }}
  {{- with .Values.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      <<: *Labels
      {{- with .Values.podLabels }}{{ toYaml . | nindent 6 }}{{ end }}
  template:
    metadata:
      labels:
        <<: *Labels
        {{- with .Values.podLabels }}{{ toYaml . | nindent 8 }}{{ end }}
      annotations:
        {{- with .Values.podAnnotations }}{{ toYaml . | nindent 8 }}{{ end }}
    spec:
      serviceAccountName: {{ if .Values.rbac.create }}{{ template "aerospike-kubernetes-operator.fullname" . }}{{ else }}{{ .Values.rbac.serviceAccountName }}{{ end }}
      {{- with .Values.affinity }}
      affinity: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext: {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: manager
        image: {{ .Values.operatorImage.repository }}:{{ .Values.operatorImage.tag }}
        command:
        - "/manager"
        args:
          - --metrics-bind-address=:{{ .Values.metricsPort }}
          - --health-probe-bind-address=:{{ .Values.healthPort }}
          - --leader-elect
          - --webhook-cert-path=/tmp/k8s-webhook-server/serving-certs
          {{- if .Values.certs.metrics.create }}
          - --metrics-cert-path=/tmp/k8s-metrics-server/metrics-certs
          {{- end }}
        imagePullPolicy: {{ .Values.operatorImage.pullPolicy }}
        ports:
        - name: webhook-server
          containerPort: {{ .Values.webhookService.targetPort }}
          protocol: TCP
        env:
        - name: WATCH_NAMESPACE
          value: {{ .Values.watchNamespaces | quote }}
        - name: FAILED_POD_GRACE_PERIOD_SECONDS
          value: {{ .Values.failedPodGracePeriodSeconds | quote }}
        - name: ENABLE_SAFE_POD_EVICTION
          value: {{ .Values.enableSafePodEviction | quote }}
        - name: AEROSPIKE_KUBERNETES_INIT_REGISTRY
          value: {{ .Values.aerospikeKubernetesInitRegistry }}
        - name: AEROSPIKE_KUBERNETES_INIT_REGISTRY_NAMESPACE
          value: {{ .Values.aerospikeKubernetesInitRegistryNamespace }}
        - name: AEROSPIKE_KUBERNETES_INIT_NAME_TAG
          value: {{ .Values.aerospikeKubernetesInitNameTag }}
        {{- if .Values.extraEnv }}
        {{- range $key, $value := .Values.extraEnv }}
        - name: "{{ $key }}"
          value: "{{ $value }}"
        {{- end }}
        {{- end }}
        # Downward API
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: webhook-certs
          readOnly: true
        {{- if .Values.certs.metrics.create }}
        - mountPath: /tmp/k8s-metrics-server/metrics-certs
          name: metrics-certs
          readOnly: true
        {{- end }}
        {{- with .Values.resources }}
        resources: {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.securityContext }}
        securityContext: {{- toYaml . | nindent 10 }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.healthPort }}
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.livenessProbe.successThreshold }}
          failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
        readinessProbe:
          httpGet:
            path: /readyz
            port: {{ .Values.healthPort }}
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.readinessProbe.successThreshold }}
          failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
      volumes:
        # TODO: Make adding volumes configurable.
        - name: webhook-certs
          secret:
            defaultMode: 420
            secretName: {{ .Values.certs.webhook.webhookServerCertSecretName }}
        {{- if .Values.certs.metrics.create }}
        - name: metrics-certs
          secret:
            secretName: {{ .Values.certs.metrics.metricsServerCertSecretName }}
            optional: false
            items:
            - key: ca.crt
              path: ca.crt
            - key: tls.crt
              path: tls.crt
            - key: tls.key
              path: tls.key
        {{- end }}
