# Operator
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "aerospike-kubernetes-operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels: &Labels
    app: {{ template "aerospike-kubernetes-operator.fullname" . }}
    chart: {{ .Chart.Name }}
    release: {{ .Release.Name }}
    {{- with .Values.labels }}{{ toYaml . | nindent 4 }}{{ end }}
  {{- with .Values.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      <<: *Labels
      {{- with .Values.podLabels }}{{ toYaml . | nindent 6 }}{{ end }}
  template:
    metadata:
      labels:
        <<: *Labels
        {{- with .Values.podLabels }}{{ toYaml . | nindent 8 }}{{ end }}
      annotations:
        {{- with .Values.podAnnotations }}{{ toYaml . | nindent 8 }}{{ end }}
    spec:
      serviceAccountName: {{ if .Values.rbac.create }}{{ template "aerospike-kubernetes-operator.fullname" . }}{{ else }}{{ .Values.rbac.serviceAccountName }}{{ end }}
      {{- with .Values.affinity }}
      affinity: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext: {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: manager
        image: {{ .Values.operatorImage.repository }}:{{ .Values.operatorImage.tag }}
        command:
        - "/manager"
        args:
        - --health-probe-bind-address=:{{ .Values.healthPort | default 8081 }}
        - --metrics-bind-address=127.0.0.1:{{ .Values.metricsPort | default 8080 }}
        - --leader-elect
        imagePullPolicy: {{ .Values.operatorImage.pullPolicy | default "IfNotPresent" }}
        ports:
        - name: webhook-server
          containerPort: {{ .Values.webhookServicePort | default 9443 }}
          protocol: TCP
        env:
        - name: WATCH_NAMESPACE
          value: {{ .Values.watchNamespaces | default "default" | quote }}
        {{- if .Values.extraEnv }}
        {{- range $key, $value := .Values.extraEnv }}
        - name: "{{ $key }}"
          value: "{{ $value }}"
        {{- end }}
        {{- end }}
        # Downward API
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
          readOnly: true
        {{- with .Values.resources }}
        resources: {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.securityContext }}
        securityContext: {{- toYaml . | nindent 10 }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.healthPort | default 8081 }}
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds | default 15 }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds | default 20 }}
          timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds | default 1 }}
          successThreshold: {{ .Values.livenessProbe.successThreshold | default 1 }}
          failureThreshold: {{ .Values.livenessProbe.failureThreshold | default 3 }}
        readinessProbe:
          httpGet:
            path: /readyz
            port: {{ .Values.healthPort | default 8081 }}
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds | default 5 }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds | default 10 }}
          timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds | default 1 }}
          successThreshold: {{ .Values.readinessProbe.successThreshold | default 1 }}
          failureThreshold: {{ .Values.readinessProbe.failureThreshold | default 3 }}
      - name: kube-rbac-proxy
        image: {{ .Values.kubeRBACProxy.image.repository }}:{{ .Values.kubeRBACProxy.image.tag }}
        imagePullPolicy: {{ .Values.kubeRBACProxy.image.pullPolicy | default "IfNotPresent" }}
        args:
        - --secure-listen-address=0.0.0.0:{{ .Values.kubeRBACProxyPort | default 8443 }}
        - --upstream=http://127.0.0.1:{{ .Values.metricsPort | default 8080 }}/
        - --logtostderr=true
        - --v=10
        ports:
        - containerPort: {{ .Values.kubeRBACProxyPort | default 8443 }}
          name: https
          protocol: TCP
        resources: {{ .Values.kubeRBACProxy.resources | default "{}" }}
      volumes:
      # TODO: Make adding volumes configurable.
      - name: cert
        secret:
          defaultMode: 420
          secretName: {{ .Values.certs.webhookServerCertSecretName | default "webhook-server-cert" }}
