{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["{src,docs}/**/*.{js,tsx,mdx,ts,md}"],
      "options": {
        "printWidth": 85
      }
    }
  ]
}
