apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/component: aerospike-prometheus

resources:
  - statefulset.yaml
  - pvc.yaml
  - service.yaml
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml

configMapGenerator:
  - name: aerospike-monitoring-stack-prometheus-config
    files:
      - config/prometheus.yml
  - name: alert-rules-config
    files:
      - config/alert-rules/aerospike_rules.yml
      - config/alert-rules/node_exporter_alerts.yml

generatorOptions:
  disableNameSuffixHash: true